// Background colors

$backgroundPrimary: #f8f7f4;
$backgroundFooter: #d3d2d2;
$backgroundThird: #717171;
$backgroundFourth: #f0f0f0;
$backgroundDot: #bbb;
$backgroundButton: #a43bc4;

// Text colors

$colorPrimary: #434746;

// Border colors

$border-color: '#ececec';

// Box Shadows

$button-shadow: '2px 2px 10px rgb(182, 180, 180)';

// Fonts

$fontSegoe: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$fontHandlee: 'Handlee', cursive;
$fontDancing: 'Dancing Script', cursive;

// Debugging

$debugging: true;

div,
p {
  @if ($debugging) {
    outline: 1px solid hotpink;
  }
}
